@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");

body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

p,
h2,
ul,
li {
  all: unset;
  display: block;
  font-size: 36px;
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
form input,
form textarea {
  min-height: 40px;
  padding: 10px 0;
  font-size: 36px;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid;
  border-bottom-style: dotted;
}
textarea {
  min-height: 150px !important;
}
form input:focus,
form textarea:focus {
  border: none;
  border-bottom: 2px solid;
  border-bottom-style: dotted;
  outline: none;
}
form input::placeholder {
  font-size: 36px;
  font-weight: bold;
}
a {
  color: black;
}
.nav {
  padding: 30px;
}
.nav > p {
  color: #030303;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.block {
  display: block;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0;
}

.container {
  display: block;
  width: min((100% - 40px), 500px);
  margin: 0 auto;
}
.clintele_subText {
  color: #000;
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}
.captcha {
  display: flex;
  position: relative;
  flex-direction: column;
}
.captcha > P {
  position: absolute;
  color: #6b7280;
  margin-top: 10px;
}
.captcha > input {
  padding-left: 100px;
}
.button-cta {
  width: 324px;
  height: 74px;
  background-color: black;
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: start;
  padding-left: 15px;
  cursor: pointer;
}
.scroll-scroll {
  display: flex;
  flex-direction: column;
  gap: 60vh;
}
.t-300ms {
  animation: erase 0.5s ease-in-out;
  opacity: 0;
}
h2 {
  font-size: 24px;
  margin-top: 72px;
  margin-bottom: 12px;
}
.mt-72 {
  margin-top: 72px;
}
.mt-20 {
  margin-top: 20px;
}
@keyframes erase {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 20px;
  }
}
